/*
 * Insights Host Inventory REST Interface
 *
 * REST interface for the Insights Platform Host Inventory application.
 *
 * API version: 1.0.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package inventory

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"reflect"
)

// Linger please
var (
	_ _context.Context
)

// SapSystemApiService SapSystemApi service
type SapSystemApiService service

type ApiApiSystemProfileGetSapSidsRequest struct {
	ctx _context.Context
	ApiService *SapSystemApiService
	search *string
	tags *[]string
	perPage *int32
	page *int32
	staleness *[]string
	registeredWith *string
	filter *map[string]interface{}
}

func (r ApiApiSystemProfileGetSapSidsRequest) Search(search string) ApiApiSystemProfileGetSapSidsRequest {
	r.search = &search
	return r
}
func (r ApiApiSystemProfileGetSapSidsRequest) Tags(tags []string) ApiApiSystemProfileGetSapSidsRequest {
	r.tags = &tags
	return r
}
func (r ApiApiSystemProfileGetSapSidsRequest) PerPage(perPage int32) ApiApiSystemProfileGetSapSidsRequest {
	r.perPage = &perPage
	return r
}
func (r ApiApiSystemProfileGetSapSidsRequest) Page(page int32) ApiApiSystemProfileGetSapSidsRequest {
	r.page = &page
	return r
}
func (r ApiApiSystemProfileGetSapSidsRequest) Staleness(staleness []string) ApiApiSystemProfileGetSapSidsRequest {
	r.staleness = &staleness
	return r
}
func (r ApiApiSystemProfileGetSapSidsRequest) RegisteredWith(registeredWith string) ApiApiSystemProfileGetSapSidsRequest {
	r.registeredWith = &registeredWith
	return r
}
func (r ApiApiSystemProfileGetSapSidsRequest) Filter(filter map[string]interface{}) ApiApiSystemProfileGetSapSidsRequest {
	r.filter = &filter
	return r
}

func (r ApiApiSystemProfileGetSapSidsRequest) Execute() (InlineResponse2002, *_nethttp.Response, error) {
	return r.ApiService.ApiSystemProfileGetSapSidsExecute(r)
}

/*
 * ApiSystemProfileGetSapSids get sap system values
 * Required permissions: inventory:hosts:read
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiApiSystemProfileGetSapSidsRequest
 */
func (a *SapSystemApiService) ApiSystemProfileGetSapSids(ctx _context.Context) ApiApiSystemProfileGetSapSidsRequest {
	return ApiApiSystemProfileGetSapSidsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return InlineResponse2002
 */
func (a *SapSystemApiService) ApiSystemProfileGetSapSidsExecute(r ApiApiSystemProfileGetSapSidsRequest) (InlineResponse2002, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse2002
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SapSystemApiService.ApiSystemProfileGetSapSids")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system_profile/sap_sids"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("tags", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("tags", parameterToString(t, "multi"))
		}
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.staleness != nil {
		t := *r.staleness
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("staleness", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("staleness", parameterToString(t, "multi"))
		}
	}
	if r.registeredWith != nil {
		localVarQueryParams.Add("registered_with", parameterToString(*r.registeredWith, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("filter", parameterToString(*r.filter, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-rh-identity"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiSystemProfileGetSapSystemRequest struct {
	ctx _context.Context
	ApiService *SapSystemApiService
	tags *[]string
	perPage *int32
	page *int32
	staleness *[]string
	registeredWith *string
	filter *map[string]interface{}
}

func (r ApiApiSystemProfileGetSapSystemRequest) Tags(tags []string) ApiApiSystemProfileGetSapSystemRequest {
	r.tags = &tags
	return r
}
func (r ApiApiSystemProfileGetSapSystemRequest) PerPage(perPage int32) ApiApiSystemProfileGetSapSystemRequest {
	r.perPage = &perPage
	return r
}
func (r ApiApiSystemProfileGetSapSystemRequest) Page(page int32) ApiApiSystemProfileGetSapSystemRequest {
	r.page = &page
	return r
}
func (r ApiApiSystemProfileGetSapSystemRequest) Staleness(staleness []string) ApiApiSystemProfileGetSapSystemRequest {
	r.staleness = &staleness
	return r
}
func (r ApiApiSystemProfileGetSapSystemRequest) RegisteredWith(registeredWith string) ApiApiSystemProfileGetSapSystemRequest {
	r.registeredWith = &registeredWith
	return r
}
func (r ApiApiSystemProfileGetSapSystemRequest) Filter(filter map[string]interface{}) ApiApiSystemProfileGetSapSystemRequest {
	r.filter = &filter
	return r
}

func (r ApiApiSystemProfileGetSapSystemRequest) Execute() (InlineResponse2002, *_nethttp.Response, error) {
	return r.ApiService.ApiSystemProfileGetSapSystemExecute(r)
}

/*
 * ApiSystemProfileGetSapSystem get sap system values
 * Required permissions: inventory:hosts:read
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @return ApiApiSystemProfileGetSapSystemRequest
 */
func (a *SapSystemApiService) ApiSystemProfileGetSapSystem(ctx _context.Context) ApiApiSystemProfileGetSapSystemRequest {
	return ApiApiSystemProfileGetSapSystemRequest{
		ApiService: a,
		ctx: ctx,
	}
}

/*
 * Execute executes the request
 * @return InlineResponse2002
 */
func (a *SapSystemApiService) ApiSystemProfileGetSapSystemExecute(r ApiApiSystemProfileGetSapSystemRequest) (InlineResponse2002, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  InlineResponse2002
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SapSystemApiService.ApiSystemProfileGetSapSystem")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system_profile/sap_system"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.tags != nil {
		t := *r.tags
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("tags", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("tags", parameterToString(t, "multi"))
		}
	}
	if r.perPage != nil {
		localVarQueryParams.Add("per_page", parameterToString(*r.perPage, ""))
	}
	if r.page != nil {
		localVarQueryParams.Add("page", parameterToString(*r.page, ""))
	}
	if r.staleness != nil {
		t := *r.staleness
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				localVarQueryParams.Add("staleness", parameterToString(s.Index(i), "multi"))
			}
		} else {
			localVarQueryParams.Add("staleness", parameterToString(t, "multi"))
		}
	}
	if r.registeredWith != nil {
		localVarQueryParams.Add("registered_with", parameterToString(*r.registeredWith, ""))
	}
	if r.filter != nil {
		localVarQueryParams.Add("filter", parameterToString(*r.filter, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-rh-identity"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
